@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url('assets/fonts/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url('assets/fonts/Inter-Italic-VariableFont.ttf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  border: unset;
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-error: #E60026;
  --color-menu: #42526E;
  --color-lightblue: #29ABE2;
  /*--color-lightblue: #007BB8;*/
  --color-maincolor: #2A3647;
  --color-greyicons: #A8A8A8;
  /*--color-greyicons: #595959;*/
  --color-lightgrey: #D1D1D1;
  /*--color-lightgrey: #666666;*/
  --color-lightergrey: #E7E7E7;
  --color-darkgrey: #CDCDCD;
  --color-background: #F6F7F8;
  --color-navselected: #091931;
  --color-navhover: #3b5987;
  --color-headerhover: #e2e6ec;
  --color-iconbackground: #EEEEEE;
  --color-checkboxbackground: #EDF2FA;
  --color-email: #007CEE;
  --color-success: limegreen;
}

:root {
  --color-1: #FF7A00;
  --color-2: #FF5EB3;
  --color-3: #6E52FF;
  --color-4: #9327FF;
  --color-5: #00BEE8;
  --color-6: #1FD7C1;
  --color-7: #FF745E;
  --color-8: #FFA35E;
  --color-9: #FC71FF;
  --color-10: #FFC701;
  --color-11: #0038FF;
  --color-12: #C3FF2B;
  --color-13: #FFE62B;
  --color-14: #FF4646;
  --color-15: #FFBB2B;
}

:root {
  --transition-fast: 75ms;
  --transition-normal: 100ms;
  --transition-slow: 125ms;
}

:root {
  scroll-behavior: smooth;
}

*::placeholder {
  font-size: 16px;
  color: var(--color-lightgrey);
}

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.35s ease;
  z-index: 100;
}

.overlay:not(.d-none) {
  opacity: 1;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  line-height: 1.2;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  width: 100%;
  margin-bottom: 2rem;
}

.d-none {
  display: none !important;
}

.content-wrapper {
  max-width: 1920px;
  padding: 0 4rem 0 6rem;
}

.overflow-y {
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100vh - 8rem);
}

.separator {
  display: flex;
  height: 100%;
  border: 1px solid var(--color-lightgrey);
}

h1 {
  font-size: 3.75rem;
  font-weight: bold;
  color: var(--color-black);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-black);
}

h3 {
  font-size: 2.9rem;
  font-weight: 500;
  color: var(--color-black);
}

input:focus {
  outline: none;
  border: none;
}

.input--validation-modifier:invalid {
  border: 1px solid var(--color-error);
}

a {
  text-decoration: none;
}

a:hover,
button:hover,
input:hover,
::-webkit-search-cancel-button,
select {
  cursor: pointer;
}

.filled-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.313rem;
  background-color: var(--color-maincolor);
  color: var(--color-white);
  transition: all var(--transition-normal) ease;
}

.filled-btn:hover {
  background-color: var(--color-lightblue);
  box-shadow: 0px 4px 4px color-mix(in srgb, var(--color-black) 25%, transparent);
}

.filled-btn:active {
  background-color: var(--color-navselected);
  box-shadow: 0px 4px 4px color-mix(in srgb, var(--color-black) 25%, transparent);
}

.empty-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--color-maincolor);
  border: 1px solid var(--color-maincolor);
  transition: all var(--transition-normal) ease;
}

.empty-btn:hover {
  color: var(--color-lightblue);
  outline: 2px solid var(--color-lightblue);
  border-color: transparent;
  box-shadow: 0px 4px 4px color-mix(in srgb, var(--color-black) 25%, transparent);
}

.empty-btn:active {
  color: var(--color-navselected);
  box-shadow: 0px 4px 4px color-mix(in srgb, var(--color-black) 25%, transparent);
  border: 1px solid var(--color-navselected);
}

.priority-options-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.125rem 1.75rem;
  background-color: var(--color-white);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-black);
  transition: transform var(--transition-slow) ease;
  gap: 0.75rem;
}

.priority-options-btn:hover {
  transform: scale(1.05);
  box-shadow: 0rem 0.375rem 0.375rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.svg__wrapper {
  width: 2rem;
  height: 2rem;
}

.svg__wrapper.loggedIn {
  width: 3.125rem;
  height: 3.125rem;
}

@media (hover: hover) {
  .svg__wrapper.loggedIn:hover #colored-circle--loggedIn {
    cursor: pointer;
    fill: rgba(12, 46, 98, 0.12);
  }
}

.svg__wrapper.medium {
  width: 2.625rem;
  height: 2.625rem;
}

.svg__wrapper.big {
  width: 7.5rem;
  height: 7.5rem;
}

.colored-circle__selected {
  stroke: var(--color-white);
  stroke-width: 0.125rem;
}

.user-initials {
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 0.75rem;
  font-weight: 400;
  fill: var(--color-white);
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.user-initials.big {
  font-size: 2.9375rem;
  font-weight: 500;
}

.user-initials.loggedIn {
  fill: var(--color-lightblue);
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 47px;
  }

  h3 {
    font-size: 36px;
  }

  .filled-btn {
    font-size: 16px;
  }

  .content-wrapper {
    padding: 0 1rem 1rem 1rem;
  }

  .overflow-y {
    height: calc(100vh - 180px);
  }
}

.h1_head-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.h1_head-container img {
  height: 2rem;
  align-self: flex-start;
  display: inline-flex;
}