h3 {
    overflow-wrap: anywhere;
}

section {
    display: flex;
    flex-direction: row;
}

#contacts-content {
    max-width: 120rem;
    padding: 0 2rem 0 0;
    height: 100%;
}

.content {
    margin-bottom: 0rem;
    height: 100%;
}

.site-wrapper {
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

main {
    height: calc(100% - 6rem);
}

.contacts_page_conatiner {
    height: 100%;
}

.content-left,
.content-right,
.contact-list__item div,
.contact-info__details,
.manage-contact__header {
    display: flex;
    flex-direction: column;
}

.content-left {
    align-items: center;
    width: 38%;
    box-shadow: 0.25rem 0rem 0.75rem 0rem rgba(0, 0, 0, 0.1);
    min-width: 26.875rem;
    height: 100%;
    background-color: var(--color-white);
}

.content-left::-webkit-scrollbar {
    width: 0.625rem;
}

.content-left::-webkit-scrollbar-thumb {
    background: var(--color-lightgrey);
}

.content-left::-webkit-scrollbar-thumb:hover {
    background: var(--color-maincolor);
}

.content-left::-webkit-scrollbar-track {
    background: #ffffff;
}

.content-left__button-holder {
    position: sticky;
    top: 0rem;
    background-color: var(--color-white);
    width: 100%;
    padding: 1.4375rem 3.25rem;
}

.button-holder div {
    height: 3.5rem;
    width: 100%;
    font-size: 1.3125rem;
    font-weight: 700;
    justify-content: center;
}

.button-holder div img {
    margin-left: 1rem;
    width: 1.875rem;
    height: auto;
}

.contact-list {
    width: 100%;
    padding: 0rem 3.25rem 16px 3.25rem;
    overflow-y: scroll;
    position: relative;
}

.contact-list__item {
    display: flex;
    flex-direction: row;
    gap: 2.1875rem;
    padding: 0.9375rem 1.5rem;
    border-radius: 0.625rem;
    cursor: pointer;
}

.contact-list__item.selected {
    background-color: var(--color-maincolor);
}

.contact-list__item:not(.selected):hover {
    background: linear-gradient(to bottom, #F9F9F9, #F0F0F0);
}

#user-profil-img__wrapper {
    min-width: unset;
}

.contact-list__item div {
    gap: 0.3125rem;
    min-width: 0;
}

.contact-list__initial-letter {
    border-bottom: 1px solid var(--color-lightgrey);
    padding: 1.0625rem 2.25rem;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.contact-list__item img {
    width: 2.625rem;
    height: 2.625rem;
}

.contact-name {
    font-size: 1.25rem;
    color: var(--color-black);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
}

.contact-email {
    color: var(--color-email) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
}

.content-right {
    margin-top: 8rem;
    width: 62%;
    gap: 2rem;
    padding-left: 3.4375rem;
}

.content-right__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.875rem;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.content-right__header span {
    font-size: 1.6875rem;
    color: var(--color-maincolor);
}

.header__bluestrip {
    width: 0rem;
    height: 3.6875rem;
    border: 0.1rem solid;
    border-color: var(--color-lightblue);
    border-radius: 0.1rem;
}

.content-right__contact-info-card {
    visibility: hidden;
    overflow: auto;
    transition: transform 300ms ease-in-out;
}

.content-right__contact-info-card.invisible {
    transform: translate(200vw, 0px);
}

.contact-info-card__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.375rem;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
}

.manage-contact__header {
    gap: 0.5rem;
    width: 100%;
}

.manage-contact__actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.action__edit {
    height: 1.5rem;
    width: 3.875rem;
}

.action__delete {
    height: 1.5rem;
    width: 5.0625rem;
}

.action__edit:hover {
    content: url('../assets/img/edit-with-text-hover.svg');
    cursor: pointer;
}

.action__delete:hover {
    content: url('../assets/img/delete-with-text-hover.svg');
    cursor: pointer;
}

.contact-info__header {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.contact-info__details {
    gap: 1.25rem;
}

.details__email {
    color: var(--color-email);
    overflow-wrap: anywhere;
}

.blue-arrow-back {
    display: none;
}

.create-contact-successful {
    position: fixed;
    top: calc(100vh - 100px);
    left: calc(880px + (100vw - 1430px) * 0.359);
    transform: translate(-50%, -50%);
    z-index: 200;
    height: fit-content;
    padding: 25px 30px;
    min-width: 330px;
    background-color: var(--color-maincolor);
    font-size: 20px;
    color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    transition: all 500ms ease-in-out;
}

.create-contact-successful.invisible {
    transform: translate(200vw, 0px);
}

#add-new-contact-btn {
    width: 100%;
}

.add-user-icon,
.contacts-options-icon {
    display: none;
}

@media screen and (max-width: 1024px) {
    .contact-list__initial-letter {
        padding: 1.0625rem 1.5rem;
    }

    .contact-list__item {
        gap: 1rem;
        padding: 0.9375rem 1rem;
    }

    .content-left__button-holder {
        display: none;
    }

    .contact-list {
        margin-bottom: 100px;
        padding: 0px 16px 16px 0px;
    }

    .content-left {
        width: 100%;
        min-width: unset;
    }

    .content-right {
        width: 100%;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 5vw;
    }

    #contacts-content {
        padding: 0;
    }

    .header__bluestrip {
        width: 90px;
        height: 0;
        border-top: 0.1875rem solid;
        border-color: var(--color-lightblue);
        border-radius: 0.1875rem;
        order: 3
    }

    .content-right__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex-wrap: wrap;
    }

    .blue-arrow-back {
        display: flex;
        position: absolute;
        right: 16px;
    }

    .content-right__contact-info-card {
        margin-bottom: 120px;
        overflow-y: auto;
    }

    .contact-info-card__header {
        gap: 20px;
        margin-bottom: 1rem;
    }

    .contact-info__header {
        margin-bottom: 1rem;
    }

    .add-user-icon,
    .contacts-options-icon,
    .manage-contact__actions {
        position: fixed;
        bottom: 132px;
        right: 16px;
        z-index: 900;
    }

    .add-user-icon {
        display: flex;
        width: auto;
        height: 70px;
    }

    .contacts-options-icon {
        display: none;
        width: auto;
        height: 70px;
    }

    .manage-contact__actions {
        pointer-events: all;
        opacity: 1;
        z-index: 1000;
        background-color: var(--color-white);
        flex-direction: column;
        align-items: center;
        border-radius: 20px 20px 0px 20px;
        padding: 20px;
        width: fit-content;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: all var(--transition-normal) ease-in-out;
    }

    .manage-contact__actions.invisible {
        opacity: 0;
        pointer-events: none;
        transform: translate(200vw, 0px);
    }

    .action__edit {
        align-self: flex-start;
    }

    .contact-info__details {
        gap: 15px;
    }

    .create-contact-successful {
        top: calc(100vh - 300px);
        left: 50vw;
        min-width: fit-content;
    }

    .create-contact-successful.invisible {
        transform: translate(-50%, 200vh);
    }
}