.add-contact__dialog {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    height: 50vh;
    max-height: 43.75rem;
    width: 90vw;
    max-width: 93.75rem;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 1.875rem;
    background-color: var(--color-white);
    padding: 0rem;
    z-index: 1000;
    opacity: 0;
    transform: translate(200vw, -50%);
    transition: all 300ms ease-in-out;
}

.scalable-profil-img {
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    width: 7vw;
    min-width: 80px;
    max-width: 120px;
    color: var(--color-white);
    font-size: max(16px, 2vw);
    border-radius: 50%;
}

.delete-contact__dialog {
    width: fit-content;
    height: fit-content;
    padding: 3rem;
    min-height: unset;
}

.delete-contact__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.show {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out;
}

.dialog-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    background-color: var(--color-maincolor);
    padding: 0rem 3rem;
    border-radius: 1.875rem 0rem 0rem 1.875rem;
}

.dialog-left img {
    width: 3.5rem;
    height: 4.1875rem;
}

.dialog-left h1 {
    color: var(--color-white);
}

.dialog-left p {
    color: var(--color-white);
    font-size: 1.6875rem;
}

.content-left__bluestrip {
    width: 5.625rem;
    height: 0rem;
    border: 0.1rem solid;
    border-color: var(--color-lightblue);
    border-radius: 0.1rem;
}

.dialog-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 3rem;
    background-color: var(--color-white);
    border-radius: 0rem 1.875rem 1.875rem 0rem;
    width: 60%;
}

.close-button__wrapper {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.close-button__wrapper:hover {
    border-radius: 50%;
    background-color: var(--color-iconbackground);
}

.content-right__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.profil-img__wrapper img {
    width: 7.5rem;
    height: 7.5rem;
}

.width-div {
    min-width: 21.25rem;
    width: 100%;
}

.inputfields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.inputfield__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--color-lightgrey);
    border-radius: 0.625rem;
    padding: 0.75rem 1.3125rem;
    width: 100%;
}

.inputfield-section {
    width: 100%;
    position: relative;
}

.inputfield__wrapper input {
    font-size: 1.25rem;
    font-weight: 400;
    width: 90%;
}

.inputfield__wrapper:focus-within {
    border: 1px solid var(--color-lightblue);
}

.inputfield_fill-in-info {
    padding: 0rem 1.3125rem;
    color: var(--color-error);
    opacity: 0;
    position: absolute;
    left: 0;
}

.inputfields__button-holder {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    height: 3.375rem;
}

.empty-btn {
    width: 7.875rem;
    justify-content: center;
    font-size: 1.25rem;
    gap: 0.75rem;
}

.empty-btn:hover img {
    content: url('../assets/img/close-hover.svg');
}

.filled-btn {
    gap: 0.75rem;
}

@media screen and (max-width: 1024px) {
    h2 {
        text-align: center;
    }

    .add-contact__dialog {
        flex-direction: column;
        min-height: max-content;
        height: calc(500px + 20vh);
        width: 95vw;
        max-width: 600px;
        max-height: 95vh;
        transform: translate(-50%, 200vh);
    }

    .show {
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: all 300ms ease-in-out;
    }

    .dialog-left {
        padding: 1rem 16px;
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        height: 30%;
    }

    .dialog-left img {
        display: none;
    }

    .content-right__wrapper {
        justify-content: center;
    }

    .dialog-right {
        padding: 0rem 16px;
        width: 100%;
        height: 70%;
        border-radius: 0px 0px 30px 30px;
    }

    .close-button__wrapper {
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    .close-button__wrapper img {
        content: url('../assets/img/close-white.svg');
    }

    @media (hover: none) {
        .close-button__wrapper img:hover {
            content: url('../assets/img/close-white-active.svg');
        }
    }

    .profil-img__wrapper {
        position: absolute;
        top: calc(-40px - 0.0303 * (100vw - 300px));
        ;
    }

    .filled-btn {
        font-size: 21px;
    }

    .empty-btn {
        display: none;
    }

    .dialog-left p {
        font-size: 20px;
    }

    .width-div {
        min-width: fit-content;
        max-width: 400px;
    }

    .inputfields__button-holder {
        align-items: center;
        height: fit-content;
        margin-top: 1rem;
    }

    .profil-img__wrapper img {
        min-width: 80px;
        max-width: 7.5rem;
        aspect-ratio: 1 / 1;
        width: 15vw;
        height: unset;
    }

    .empty-btn {
        display: inline-flex;
        gap: 0.75rem;
    }

    .delete-contact__dialog {
        flex-direction: initial;
        height: fit-content;
    }

    .scalable-profil-img {
        width: 10vh;
        min-width: 40px;
        max-width: 70px;
        font-size: max(16px, 4vw);
    }

}

@media screen and (max-width: 650px) {
    .inputfields {
        gap: 2.2rem;
    }

    .inputfield_fill-in-info {
        font-size: 14px;
    }
}


@media screen and (max-width: 420px) {
    .filled-btn {
        min-width: 7.875rem;
        width: fit-content;
        font-size: 16px;
        padding: 0.5rem;
    }

    .empty-btn {
        font-size: 16px;
        padding: 0.5rem;
    }

    .inputfields__button-holder {
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 1rem;
    }

    .content-right__wrapper {
        margin-top: 2rem;
    }

    .inputfield__wrapper{
        padding: 6px 1.3125rem;
    }
}