.dlg-add-task {
  padding-top: 4rem;
  min-height: fit-content;
  height: 60vh;
  min-width: fit-content;
  transition: transform 0.5s ease-in-out;
}

.dlg-add-task.show {
  transform: translate(-50%, -50%);
}

.task-content__header {
  margin-top: unset;
}

.dlg-add-task-header {
  position: absolute;
  right: 4rem;
  top: 4rem;
}

#task-content {
  padding: 0 2rem 0 2rem;
}

.task-content__footer {
  padding: 0;
}