body {
    flex-direction: column;
    align-items: center;
    width: unset;
    min-height: unset;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    border-radius: 0.5rem;
    padding: 0.9375rem 1.5rem;
    font-size: 1.31rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.header {
    flex-direction: row;
    justify-content: space-between;
    padding: 4.1875rem 7.625rem 0 4.8125rem;
}

.header__joinlogo {
    width: 6.25rem;
    height: 7.625rem;
    margin-top: 0.8125rem;
    z-index: 3;
    visibility: hidden;
    transition: transform 1s ease-in-out;
}

.header__joinlogo.start {
    transform: translate(clamp(0px, 45vw, 960px), 40vh) scale(2.7);
    z-index: 103;
}

.header__signup {
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    gap: 2.1875rem;
    width: fit-content;
    height: 3.0625rem;
    align-self: flex-start;
    pointer-events: auto;
    transition: opacity 0.4s ease-in-out;
}

.header__signup span {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-black);
}

.header__signup button {
    padding: 0.9375rem 1rem;
    font-size: 1rem;
}

main {
    height: 100vh;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s ease-in-out;
}

.useraccess-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 1.875rem;
    padding: 3rem 7.1875rem;
    gap: 2rem;
    width: fit-content;
    height: fit-content;
    position: relative;
    box-shadow: 0 0 14px 3px color-mix(in srgb, var(--color-black) 4%, transparent);
}



.link-to-start {
    height: 2rem;
    position: absolute;
    left: 3rem;
    top: 4rem;
}

.useraccess-form__arrowicon:hover {
    transform: scale(1.2);
    background-color: var(--color-iconbackground);
    border-radius: 50%;
}

h1 {
    width: 100%;
    text-align: center;
}

.useraccess-form__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.header__bluestrip {
    width: 9.375rem;
    height: 0;
    border-top: 0.1875rem solid;
    border-color: var(--color-lightblue);
    border-radius: 0.1875rem;
}

.form__inputfields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.useraccess-form__btnholder {
    display: flex;
    gap: 2.188rem;
    height: 3.875rem;
}

.inputfield__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color-lightgrey);
    border-radius: 0.625rem;
    padding: 0.75rem 1.3125rem;
    width: 26.375rem;
    transition: border-color 0.2s ease;
}

.inputfield__wrapper:focus-within {
    border-color: var(--color-lightblue);
}

.inputfield__wrapper.error {
    border-color: var(--color-error);
}

.inputfield__wrapper.valid-input {
    border-color: var(--color-success);
}

.inputfield__wrapper.error:focus-within {
    border-color: var(--color-error);
}

.inputfield__wrapper.valid-input:focus-within {
    border-color: var(--color-success);
}

.inputfield__wrapper input {
    width: 90%;
    height: 1.5rem;
    font-size: 1.25rem;
    font-weight: 400;
}

.inputfield__wrapper img {
    height: 1.5rem;
    width: 1.5rem;
}

.pw-icon--visible {
    content: url('../assets/img/pw-visible.svg');
}

.pw-icon--invisible {
    content: url('../assets/img/pw-not-visible.svg')
}

.guest {
    background-color: var(--color-white);
    color: var(--color-maincolor);
    border: 0.063rem solid var(--color-maincolor);
    transition: all var(--transition-normal) ease;
    width: 11.25rem;
    cursor: pointer;
}

.guest:hover,
.guest:active {
    background-color: var(--color-white);
    box-shadow: 0 0.25rem 0.25rem color-mix(in srgb, var(--color-black) 25%, transparent);
}

.guest:hover {
    color: var(--color-lightblue);
    border: 0.125rem solid var(--color-lightblue);
}

.guest:active {
    color: var(--color-navselected);
    border: 0.063rem solid var(--color-navselected);
}

.useraccess-form__privacy-policy {
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url('../assets/img/checkbox-unchecked.svg') no-repeat center / contain;
    cursor: pointer;
}

label:hover {
    background-color: var(--color-checkboxbackground);
}

input[type="checkbox"]:checked+label {
    background-image: url('../assets/img/checkbox-checked.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="checkbox"]:checked+label:hover {
    background-color: var(--color-checkboxbackground);
}

.useraccess-form__privacy-policy span {
    color: var(--color-greyicons);
}

.useraccess-form__privacy-policy a {
    color: var(--color-lightblue);
}

.footer__privacy-legal-box {
    display: flex;
    padding-bottom: 2.5rem;
    padding-top: 1rem;
    gap: 1rem;
}

.footer__privacy-legal-box a {
    height: fit-content;
    text-align: center;
    color: var(--color-greyicons);
    font-weight: 400;
    font-size: 1rem;
    width: 6.875rem;
}

.footer__privacy-legal-box a:hover {
    color: var(--color-lightblue);
    font-weight: 700;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.signup__success-message {
    display: flex;
    position: fixed;
    text-align: center;
    top: 55%;
    left: 50%;
    border: 0.625rem solid var(--color-maincolor);
    font-size: 1.25rem;
    color: var(--color-white);
    background-color: var(--color-maincolor);
    border-radius: 1.25rem;
    padding: 1.5625rem;
    width: fit-content;
    transform: translate(-50%, -50%);
    z-index: 101;
    box-shadow: 0 0 0.25rem color-mix(in srgb, var(--color-black) 100%, transparent);
    transition: top 300ms ease-in-out;
    outline: none;
}

.startposition {
    top: 150vh;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

.name-error-warning,
.email-taken__err-warning,
.confirm-password__err-warning {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 53px;
    font-size: 16px;
    color: var(--color-error);
}


@media screen and (max-width: 1024px) {
    #msg {
        display: none !important;
    }

    main {
        height: fit-content;
    }

    .header__joinlogo {
        width: 64px;
        height: 78px;
    }

    .content-wrapper {
        padding: 0 1rem 0 1rem;
    }

    .header__signup {
        display: none;
    }

    .header__signup.mobileview {
        display: flex;
        margin: 0 0 10% 0;
        width: 100%;
    }

    .content-wrapper.header {
        padding: 37px 0px 0px 38px;
    }

    .useraccess-form {
        padding: 32px calc(-29px + 14vw);
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .inputfield__wrapper {
        width: calc(183px + 23vw);
    }

    .useraccess-form__btnholder {
        flex-direction: column;
        gap: 21px;
        height: fit-content;
        margin-top: 10%;
    }

    .useraccess-form__privacy-policy {
        margin-top: 1rem;
    }

    .welcomescreen-mobile {
        display: block;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-maincolor);
        z-index: 100;
        width: 100vw;
        height: 100vh;
        transition: all 400ms ease-in-out;
    }

    .welcomescreen-mobile.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .welcome-logo {
        content: url('../assets/img/logo-white.png');
    }

    .link-to-start {
        top: 3rem;
    }
}

@media screen and (max-width: 460px) {
    .link-to-start {
        left: 6%;
    }

    .content-wrapper.header {
        padding: 16px 0px 16px 16px;
    }
}