:root {
  --mobile-nav-height: 100px; 
  --footer-gap: 16px;         
}

.nav-menu {
    display: flex;
    flex: 0 0 15rem;
    flex-direction: column;
    background-color: #2a3647;
    padding-bottom: 2rem;
    padding-top: 4rem;
    min-height: 100vh;
    z-index: 2;
}

.nav-menu a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.6rem 1rem 0.6rem 3.5rem;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    text-align: left;
    gap: 1.2rem;
    transition: background-color 0.3s;
}

a:focus-visible {
    border: 2px solid var(--color-lightblue);

}

.nav-menu__btn-container a img {
    width: 1.5rem;
    object-fit: contain;
}

.nav-menu img {
    align-self: center;
}

.nav-menu__btn-container a:not(.deactivated):hover {
    background-color: var(--color-navhover);
}

.nav-menu__bottom__btn {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 0.25rem;
    transition: background-color 0.3s;
}

.nav-menu__bottom-btn a:hover {
    color: var(--color-lightblue) !important;
    transform: scale(1.05);
}

.nav-menu__btn-container {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 1rem;
    font-size: 1.125rem;
    font-weight: 400;
}

.nav-btn--selected {
    background-color: var(--color-navselected) !important;
}

.nav-menu a.deactivated {
    cursor: default;
    pointer-events: none;
}

.nav-menu__bottom__btn a:hover {
    color: var(--color-lightblue);
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
 #nav-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;                  
    height: var(--mobile-nav-height);
    z-index: 1000;
  }

  .nav-menu {
    flex: none;
    flex-direction: row;
    width: 100%;
    height: 100%;              
    padding: 0;
    min-height: 0;
    justify-content: center;
  }

  .nav-menu__btn-container {
    flex-direction: row;
    margin-top: 0;
    gap: 0;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;              
  }


    .nav-menu__bottom__btn {
        display: none;
    }

    #logo {
        display: none;
    }

    .nav-menu a {
        margin: 4px 0px;
        flex-direction: column;
        padding: 0;
        width: 100%;
        min-width: 70px;
        max-width: 120px;
        border-radius: 16px;
        padding: 15px 8px;
    }

    a img {
        width: 24px;
        height: 24px;
    }

    .header {
        position: sticky;
        top: 0px;
    }

    .header__content {
        height: 5rem;
        padding: 0 1rem;
    }

    #help-img {
        display: none;
    }

    #join-logo {
        width: 32px;
        height: 39px;
    }
}

@media screen and (max-width: 350px) {
    .nav-menu a {
        padding: 15px 0px;
    }
}