.summary-content__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8rem;
    gap: 1.5rem;
}

h3 {
    color: var(--color-maincolor);
}

.summary-content__header span {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-maincolor);
}

.summary-content__left {
    width: 34.375rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.summary-content__metrics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin-top: 4rem;
    gap: 4rem;
}

.summary-content__metrics-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.metrics__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2.375rem 3.625rem;
    background-color: var(--color-white);
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    border-radius: 1.875rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--color-black);
    transition: transform var(--transition-slow) ease;
}

.metrics__box-top {
    gap: 1.5rem;
}

.metrics__box-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
}

.metrics__box-middle {
    width: 100%;
    gap: 4rem;
}

.metrics__box img {
    width: 4rem;
    height: 4rem;
    gap: 0.625rem;
}

.metrics__box-bottom {
    padding: 2.375rem 2.375rem;
    height: 10.875rem;
    width: 10.875rem;
}

.metrics__box-text {
    color: var(--color-menu);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    gap: 1rem;
}

.metrics__box-date {
    font-weight: 700;
    font-size: 1.3rem;
}

.metric-number {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-black);
}

.metric-txt {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.metric-txt-middle {
    font-size: 1rem;
    font-weight: 400;
}

.summary-content__right span {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-lightblue);
}

.metrics__box:hover {
    background-color: var(--color-maincolor);
    transform: scale(1.1);
    cursor: pointer;
}

.metrics__box:active {
    background-color: var(--color-white);
}

.metrics__icon-todo:hover img {
    content: url("../assets/img/to-do-hover.svg");
}

.metrics__icon-todo:active img {
    content: url("../assets/img/to-do.png");
}

.metrics__icon-done:hover img {
    content: url("../assets/img/done-hover.svg");
}

.metrics__icon-done:active img {
    content: url("../assets/img/done.png");
}

.metrics__box:hover span {
    color: var(--color-white);
}

.metrics__box:active span {
    color: var(--color-black);
}

.blue_seperator {
    width: 0.25rem;
    height: 3.75rem;
    background-color: var(--color-lightblue);
}

.grey_seperator {
    width: 0.25rem;
    height: 6rem;
    background-color: var(--color-lightgrey);
}

@media (max-width: 500px) {
    .grey_seperator-summary {
        height: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    body {
        flex-direction: column-reverse;
    }

    .content {
        margin-bottom: 0;
    }

    .metric-number {
        font-size: 47px;
    }

    .metrics__box-text {
        font-size: 14px;
        gap: 0;
    }

    .metrics__box-date {
        font-size: 16px;
    }

    .metric-txt {
        font-size: 14px;
    }

    .metrics__box img {
        height: 40px;
        width: 40px;
    }

    .summary-content__header.content-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
        gap: 12px;
    }

    .blue_seperator {
        width: 90px;
        height: 0;
        border-top: 0.1875rem solid;
        border-color: var(--color-lightblue);
        border-radius: 0.1875rem;
        order: 3
    }

    .summary-content__header span {
        font-size: 20px;
    }

    .summary-content__left {
        width: 100%;
        max-width: 550px;
        padding-bottom: 50px;
        height: 100%;
        gap: 18px;
        opacity: 1;
        overflow-y: auto;
        transition: opacity 2s ease-in-out;
    }

    .summary-content__right {
        display: none;
        opacity: 0;
        text-align: center;
        transition: opacity 0.6s ease-in-out;
    }

    .greetingMobile {
        opacity: 1;
    }

    .summary-content__metrics.content-wrapper {
        margin-top: unset;
        justify-content: center;
        height: calc(100vh - 380px);
    }

    .summary-content__metrics-row {
        height: 120px;
        gap: 2.5vw;
    }

    .metrics__box {
        justify-content: space-evenly;
    }

    .metrics__box.metrics__box-top {
        border-radius: 20px;
        gap: 10px;
        padding: 5% 5%;
        flex: 1
    }

    .metrics__box.metrics__box-middle {
        gap: 20px;
        padding: 28px 10px;
    }

    .metrics__box.metrics__box-bottom {
        border-radius: 20px;
        padding: 5% 5%;
        height: 100%;
        width: initial;
        flex: 1;
    }

    .metrics__box:hover {
        transform: none;
    }

    #bottom-row {
        justify-content: initial;
    }
}

@media (max-width: 400px) {
    .summary-content__metrics-row {
        height: 100px;
    }
}

@media (max-width: 400px) {
    .summary-content__left {
        overflow-y: unset;
    }
}